body {
  color: #2B2620;
  background-color: lab(45.17% -37.32 9.47);
  font-family: Georgia, serif;
}

{.subtitle { color: rgb(0, 77, 62); }
border: 2px solid black;
  padding: 20px;d
   margin: 40px;
   width: 600px;
text-align: center;
}
#page-title { font-size: 48px; color: rgb(0, 128, 32); }
#my-name {
  color: rgb(0, 79, 21);
  font-size: 40px;
}
#bio {
  font-size: 20px;
  font-weight: bold;
}

.highlight {
  font-style: italic;
  color: green;
}
